<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>